@import './public.scss';

$post-list-max-width: 450px;
$post-list-min-width: 300px;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, #mountNode {
  height: 100%;
  margin: 0;
}

#postApp {
  min-height: 100%;
  padding-top: 40px;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
}

#postEditor {
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: $post-list-max-width;
  min-width: $post-list-min-width;
  & > input, & > textarea {
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  & > #postET {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  & > textarea {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
  }
  .postEditorBA {
    height: 40px;
    padding-left: 5px;
    .error {
      color: red;
    }
    & button {
      margin-left: 3px;
    }
  }
}

#postList {
  max-width: $post-list-max-width;
  min-width: $post-list-min-width;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid green;
}

.postItem {
  height: 320px;
  // border: 2px solid lightblue;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #EFEBE9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  .postTitle {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
    display: block;
    color: #000;
    text-decoration: none;
    word-wrap: break-word;
  }
  .postImg {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: lightgreen;
  }
  .postContent {
    // border: 1px solid lightcoral;
    margin-top: 10px;
    padding: 5px;
    height: 230px;
    overflow: hidden;
  }
}