body {
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
}

.app {
  // background-color: teal;
  width: 600px;
  margin: auto;
  padding-top: 10px;

  .addTodo {
    opacity: 0.8;
    width: 220px;
    margin: auto;
    & > input {
      width: 150px;
      margin-right: 15px;
      border-radius: 8px;
    }
  }

  .todoList {
    margin: auto;
    width: 400px;

    li {
      position: relative;
      margin-top: 8px;

      .todo {
        background-color: white;
        opacity: 0.8;
        padding: 5px 10px 5px;
        width: 90%;
        display: inline-block;
        border: 1px lightgrey solid;
        border-radius: 10px;
        box-shadow: 3px 3px 5px grey;
      }

      .completed {
        background-color: white;
        opacity: 0.5;
        padding: 5px 10px 5px;
        width: 90%;
        display: inline-block;
        border: 1px lightgray solid;
        border-radius: 10px;
      }

      .close {
        position: absolute;
        right: 7%;
        top: 5px;
        cursor: pointer;
        height: 20px;
        width: 20px;
        // background-color: lightgreen;

        &:before, &:after {
          position: absolute;
          left: 9px;
          content: " ";
          height: 20px;
          width: 1px;
          border: 1px gray solid;
          border-radius: 50px;
          background-color: gray;
        }

        &:before {
          transform: rotate(45deg);
          -ms-transform: rotate(45deg); /* IE 9 */
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        }

        &:after {
          transform: rotate(-45deg);
          -ms-transform: rotate(-45deg); /* IE 9 */
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        }
      }
    }
  }
}
